/* Start background code*/ 
:root {
  --angle: 0deg;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  min-height: 100vh;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c97822 100%);
  animation: gradient-change 5s linear infinite;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container2 .headerBox {
  text-transform: capitalize;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  margin: 1rem;
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 2px 5px #0005;
}

@keyframes gradient-change {
  0% {
    filter: hue-rotate(0deg) brightness(1);
  }
  100% {
    filter: hue-rotate(90deg) brightness(1.5);
  }
  100% {
    filter: hue-rotate(360deg) brightness(1);
  }
}

/* end background code. Courtesy of https://codepen.io/malbarmavi/pen/NWbgbOq*/





body, html {
  font-family:  Helvetica, arial, sans-serif;
  margin: 0;
}/*background-image: url("https://img.freepik.com/free-vector/hexagonal-technology-pattern-mesh-background-with-text-space_1017-26293.jpg?size=626&ext=jpg") ;*/
  /*background-size: cover;
  height: 100%;
  color: white;*/


  /* The header bar*/
header{
  background: rgba(255, 255, 255, 0.418);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  

}

/* The text in the header*/
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  font-size: 30px;
  margin: 5px;
  
}


/* the left nav bar text */
nav a {
  color: #444040;
  font-weight: bold;
  text-decoration: none;
  padding:10px;
  font-size: medium;
}


/* The right nav bar text - my name*/
h1 {
  font-weight: bolder;
  font-stretch: expanded;
  padding: 7px;
  font-size: 200%;
  font-family: sans-serif;

}

/*The main bio*/
.mainBio{ 
  float: left;
  display: inline;
  margin: 15px;
  text-align: center;
  text-size-adjust: 150%;
  background-color: #f8f8f80e; 
  border-radius: 25px;
  width: 98%;
  
}

/*Image of me*/
#bioImage{
  border-radius: 25px;
  border:rgba(116, 6, 6, 0.925) 25px;
  margin: 15px;
  box-shadow: 5px 5px rgba(255, 255, 255, 0.5) ;
  float: left;
  display: flex;

}
 
/*This styles the resume button */
.resume {
  background-color: #f8f8f854; 
  border: none;
  color: rgb(0, 0, 0);
  padding: 11px 50px;
  margin-top: 40px;
  border-radius: 15px;
  align-items: center;
  font-weight: bolder;

}

.resume:hover{
  background-color: #f8f8f8b9; 
  border-radius: 25px;
  transition-duration: 0.5s;
}

/* This styles ALL cards at the same time*/
.allCards{
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  padding-bottom: 40px;
}


/* This ensures that the page flexs with size*/
main {
  display: flex;
  flex-wrap: wrap;

}

/* This is the spacing btwn the first paragraphs*/
section p{
  margin: 10px;
}

.main-header {
  display: flex;
  padding: 10px;
  background: #ffffff2c;
  color: #fff;
}


/* the cards itself and the card background photo*/
.card1 {
  display: flex;
  padding: 10px;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  flex-grow: 1 0 0;

  /*these are placeholder images*/
  background-image: url("https://d3mvlb3hz2g78.cloudfront.net/wp-content/uploads/2018/01/thumb_720_450_Gearsdreamstime_xl_89463027.jpg") ;
  background-blend-mode: overlay;
 }


 .card2 {
  display: flex;
  padding: 10px;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  margin: 25px;
  background-image: url("https://singularityhub.com/wp-content/uploads/2018/05/drone-city-lights-skyline_678499576-1068x601.jpg") ;
  background-size: cover;
 }
 
 
 .card3 {
  display: flex;
  padding: 10px;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  margin: 25px;
  background-image: url("https://blog.pshares.org/wp-content/uploads/sites/10/2014/08/abstract_paint.jpeg") ;
 
 }.card4 {
  display: flex;
  padding: 10px;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  margin: 25px;
  background-image: url("https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=80") ;
 
 }.card5 {
  display: flex;
  padding: 10px;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  margin: 25px;
  background-image: url("https://i.pinimg.com/originals/c3/12/16/c31216424b811a9770b5b7dacb06fa3e.jpg") ;
 
 }.card6 {
  display: flex;
  padding: 10px;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  margin: 25px;
  background-image: url("https://images.ctfassets.net/hrltx12pl8hq/5GaLeZJlLyOiQC4gOA0qUM/a0398c237e9744ade8b072f99349e07a/shutterstock_152461202_thumb.jpg?fit=fill&w=368&h=207") ;
 
 }

/*title of the cards*/
.card1 header {
  padding: 20px;
  background:rgba(255, 255, 255, 0.658);
  color: rgb(43, 42, 42);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  margin: 50px;
  
}
.card2 header {
  padding: 20px;
  background:rgba(255, 255, 255, 0.658);
  color: rgb(43, 42, 42);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  margin: 50px;
  
}
.card3 header {
  padding: 20px;
  background:rgba(255, 255, 255, 0.658);
  color: rgb(43, 42, 42);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  margin: 50px;
  
}
.card4 header {
  padding: 20px;
  background:rgba(255, 255, 255, 0.658);
  color: rgb(43, 42, 42);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  margin: 50px;
  
}
.card5 header {
  padding: 20px;
  background:rgba(255, 255, 255, 0.658);
  color: rgb(43, 42, 42);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  margin: 50px;
  
}
.card6 header {
  padding: 20px;
  background:rgba(255, 255, 255, 0.658);
  color: rgb(43, 42, 42);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  margin: 50px;
  
}


/* The following styles the hover action of each card*/
.card1:hover{
  border-width: thick;
  border-color: grey;
  transition-duration: 1s;
  
}

.card2:hover{
  border-width: thick;
  border-color: grey;
  transition-duration: 1s;
  
}
.card3:hover{
  border-width: thick;
  border-color: grey;
  transition-duration: 1s;
  
}
.card4:hover{
  border-width: thick;
  border-color: grey;
  transition-duration: 1s;
  
}
.card5:hover{
  border-width: thick;
  border-color: grey;
  transition-duration: 1s;
  
}
.card6:hover{
  border-width: thick;
  border-color: grey;
  transition-duration: 1s;
  
}


/*Footer*/

footer{ 
  background: rgba(255, 255, 255, 0.418);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer h2{ 
  display: inline;
}

footer ul{
  font-weight: bold;
  font-stretch: expanded;
  text-align: 100px center ;
  padding: 5px;
  font-size: 100%;
  font-family: sans-serif;
  justify-content: space-between;
  display: flex;
  color: #444040;
  text-decoration: none;
  padding:5px;
  
  
}
/*Padding around the footer items*/
footer ul li{
  padding-left: 5px;
  
}

/* small smartphones */
@media screen and (max-width: 450px) {
  #bioImage {
    height: 100px;
    width: 100px;
  }

  .mainbio{
    display: block;

  }
  
}

/* Large smartphones */
@media screen and (max-width: 540px) {
  #bioImage {
    height: 100px;
    width: 100px;
  }
  .mainBio{
    display: inline-block;
  }
  h1 {
    font-weight: bolder;
    font-stretch: expanded;
    padding: 7px;
    font-size: 140%;
    font-family: sans-serif;
  
  }
  }

/* tablet size  */
@media screen and (max-width: 768px) {
    #bioImage {
      height: 150px;
      width: 150px;
  }
}